body {
  background: #f5f0e6;
  font-size: 16px;
  font-family: Helvetica, Aria, sans-serif;
  color: #a6a3a2;
}

.App {
  width: 500px;
  margin: 4rem auto;
  border-top: 6px solid #231f20;

  .swatch-wrapper {
    margin: 1rem auto;
    .message {
      margin: 2rem 6px;
    }
  }
}

h1 {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2px;
  line-height: 2.4rem;
}

.header-padding {
  padding: 1rem 0;
}
