.canvas-container {
  height: 200px;
  margin: 100px auto;
  display: flex;

  #part-one {
    background-color: #231f20;
  }
  #part-two {
    background-color: #e81e31;
  }
  #part-three {
    background-color: #0876bc;
  }
  #part-four {
    background-color: #ffcb0a;
  }

  .color {
    width: 50%;
  }
}
